.nav-color{
 background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.brand-style{
    color: white;
}

.nav-buttons{
   
    background-color: purple;
    color: white;


}

.nav-buttons:hover{
    background-color: white;
}