.Title-image{
background: rgb(174,238,234);
background: radial-gradient(circle, rgba(174,238,234,1) 31%, rgba(148,187,233,1) 69%);
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 1200px;
background-size: cover;


}
.Title-text{
    text-align: center;
    font-family: Century Gothic, sans-serif;
    color: black;
}

h1{
    margin-top: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
}

p{
    font-family: Tahoma, Geneva, sans-serif;
}

hr{
    background-color: black;
    height: 5px !important;
    width: 90%;

}

.mainButton{
   color: black;
   margin: 8px 16px;
   font-size: 32px;
   font-family: American Typewriter,serif;
 
   border-radius: 8px;
   border: solid 2px;
   padding: 20px;
   width: 300px;
   height: 300px;
}


.purple{
    background-color: rgb(211, 194, 242);
}

.light{
    background-color: rgb(230, 237, 234);
}


.mainButton:hover,
.mainButton:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.buttons{
    display: flex;
    justify-content: center;
}
