
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: white;
}


.hero-text row{
    text-align: center;
}

.Title-image{
background-image:url('../img/cloud-header.png');
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 700px;
background-size: cover;


}

.Title-image h1{
    font-weight: 300 bold;
    font-size: 45px;
    color: black;
}

.Title-image h6{
    font-weight: 500;
    font-size: 24px;
    color: rgb(91,91,92);
}

a.button1{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid rgb(137,7,186);
background-color: white;
margin:0 2em 2em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
font-size: 20px;
color: black;
text-align:center;
transition: all 0.2s;
}
a.button1:hover{
color:#000000;
background-color: transparent;
}

.events-section{
    float: left;
    width: 50%;
}


.pdf-section{
    float: let;
    width: 50%;

}

.pdf-section h1{
    text-align: center;
}

.pdf-section img{
   width: 10%;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.item{
    width: 100%;
}

h1{
    margin-top: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
}

p{
    font-family: Tahoma, Geneva, sans-serif;
}

hr{
    background-color: black;
    height: 5px !important;
    width: 90%;

}

